workflows/AI FEASIBILLITY.json
{
  "name": "AI FEASIBILLITY",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -352,
        416
      ],
      "id": "5a569977-a2d1-4df7-9eaa-28f602882f75",
      "name": "When chat message received",
      "webhookId": "794ccc41-d604-4f12-9dd6-73d3d04ef283"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        240,
        816
      ],
      "id": "eb33b377-6905-4d19-abbd-1c23182a4344",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "QTloMWRWf4XFWwJ1",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 1
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        384,
        816
      ],
      "id": "9d1c1ac5-3bfa-430a-8c52-cbe8c7757fc4",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "there is rules",
        "tableName": "feasibillity_rules",
        "topK": 7,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        784,
        624
      ],
      "id": "7eb5831a-30fa-4a77-a773-d141adefedb5",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "QYLEYG73zSKxPF8q",
          "name": "Postgres account 3"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "there is casecards",
        "tableName": "feasibillity_casecard",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        752,
        752
      ],
      "id": "9c9db415-fd4a-4cf2-ba6c-2f972f73ed1b",
      "name": "Postgres PGVector Store1",
      "credentials": {
        "postgres": {
          "id": "h2S4iiYTaQE9EyxV",
          "name": "Postgres account 4"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1472,
        864
      ],
      "id": "5dea7685-6450-4de3-a539-33f689bf1c8c",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "QTloMWRWf4XFWwJ1",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "feasibillity_casecard",
        "embeddingBatchSize": 125,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        1648,
        560
      ],
      "id": "03a406cd-e12f-4e04-bfaa-afe0b278502d",
      "name": "Postgres PGVector Store2",
      "credentials": {
        "postgres": {
          "id": "QYLEYG73zSKxPF8q",
          "name": "Postgres account 3"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1824,
        816
      ],
      "id": "fc5b828d-48b7-4033-b3bb-fdfea936be1c",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "formTitle": "RULES/CASE CARD",
        "formDescription": "WRITE",
        "formFields": {
          "values": [
            {
              "fieldLabel": "json ",
              "fieldType": "textarea"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        1456,
        544
      ],
      "id": "148ab890-23fa-46d9-bfb5-31c4480153b3",
      "name": "On form submission",
      "webhookId": "8fc86f2a-c8f8-46ae-a1c0-e797bcf8911d"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -352,
        896
      ],
      "id": "c7b1149e-a982-423a-b778-bd750eacccdf",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QzZpjWR4T25c9S7d",
          "mode": "list",
          "cachedResultUrl": "/workflow/QzZpjWR4T25c9S7d",
          "cachedResultName": "ALL FEAS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "sattelite_name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('sattelite_name', ``, 'string') }}"
          },
          "matchingColumns": [
            "sattelite_name"
          ],
          "schema": [
            {
              "id": "sattelite_name",
              "displayName": "sattelite_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        656,
        816
      ],
      "id": "3aac0473-f4ec-4067-af02-d8447641487e",
      "name": "Call 'ALL FEAS'"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "readStatus": "unread",
          "sender": "garfieldgg228@gmail.com"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -352,
        560
      ],
      "id": "5a3825db-ffef-473c-a144-6caf83cdfa28",
      "name": "Gmail Trigger",
      "executeOnce": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "osUxvJMgVC7dMxtR",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -16,
        176
      ],
      "id": "36ee4024-6a12-4a63-b46e-1ae185c8ecd2",
      "name": "Mark a message as read",
      "webhookId": "7377b22a-6654-4ad3-b89a-29d8fa7dd8b1",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "osUxvJMgVC7dMxtR",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "sattelite name"
            },
            {
              "name": "description"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -352,
        704
      ],
      "id": "74effd9d-df0f-44db-8f07-fd50aed01c59",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "17f006b8-6d6a-41db-a574-f77578950bfd",
              "name": "source",
              "value": "chat",
              "type": "string"
            },
            {
              "id": "bf8b9cfc-20a8-43dc-8fb7-90d0ae9afc18",
              "name": "chatInput",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            },
            {
              "id": "ff770d90-9c23-485a-ac48-16db2cb82a84",
              "name": "=raw",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -160,
        448
      ],
      "id": "2053f04d-1d55-45c8-a929-78c0260aca99",
      "name": "Edit Fields",
      "executeOnce": false
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        32,
        576
      ],
      "id": "a4057ba6-0b14-487a-97f4-00d82cef66b1",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "17f006b8-6d6a-41db-a574-f77578950bfd",
              "name": "source",
              "value": "Gmail trigger",
              "type": "string"
            },
            {
              "id": "bf8b9cfc-20a8-43dc-8fb7-90d0ae9afc18",
              "name": "chatInput",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            },
            {
              "id": "ff770d90-9c23-485a-ac48-16db2cb82a84",
              "name": "=raw",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -160,
        576
      ],
      "id": "14b7fbb4-6808-49c6-ad6a-06b0691b7f7a",
      "name": "Edit Fields1",
      "executeOnce": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "17f006b8-6d6a-41db-a574-f77578950bfd",
              "name": "source",
              "value": "Another workflow",
              "type": "string"
            },
            {
              "id": "bf8b9cfc-20a8-43dc-8fb7-90d0ae9afc18",
              "name": "chatInput",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            },
            {
              "id": "ff770d90-9c23-485a-ac48-16db2cb82a84",
              "name": "=raw",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -160,
        720
      ],
      "id": "a7e967a9-0b58-4be0-b744-7fb89c6bbfde",
      "name": "Edit Fields2",
      "executeOnce": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "17f006b8-6d6a-41db-a574-f77578950bfd",
              "name": "source",
              "value": "timetrigger",
              "type": "string"
            },
            {
              "id": "bf8b9cfc-20a8-43dc-8fb7-90d0ae9afc18",
              "name": "chatInput",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            },
            {
              "id": "ff770d90-9c23-485a-ac48-16db2cb82a84",
              "name": "=raw",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -176,
        864
      ],
      "id": "1ff8106a-bccc-408b-ae36-2146b41484bf",
      "name": "Edit Fields3",
      "executeOnce": false
    },
    {
      "parameters": {
        "sendTo": "niki7mcrae@gmail.com",
        "subject": "ok?",
        "message": "ывф",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        656,
        432
      ],
      "id": "5c9e66dc-f2a7-4835-870f-dd63d723f7a9",
      "name": "Send a message",
      "webhookId": "62cb7fe3-6a5f-4c98-85ea-2b7b0d61a2de",
      "credentials": {
        "gmailOAuth2": {
          "id": "osUxvJMgVC7dMxtR",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "СИСТЕМНЫЙ ПРОМПТ — Health Status Analyst (RU, structured text, anti-dup STRICT)\n\nРОЛЬ\nТы — Satellite Health Status Analyst. Анализируешь состояние спутника по данным health_status и связанным хранилищам знаний/кейсов/истории.\nЦель — инженерный отчёт по шаблону (разделы 1–11 ниже), без догадок и без повторов.\n\nОСНОВНОЕ ПРАВИЛО (NO GUESS)\nНикаких догадок. Любое важное утверждение должно опираться на EVIDENCE:\n- поля из tool #3 (take feasibillity),\n- правила/пороги из tool #1 (rules),\n- кейсы из tool #2 (casecards),\n- история из tool #4 (ALL FEAS — только если вызывался).\nЕсли данных нет — пиши: “неизвестно (нет данных)” и добавь это в “Не хватает данных”.\n\nОБЯЗАТЕЛЬНЫЕ TOOL CALLS (всегда до ответа, строго по порядку)\n1) \"postgres PGvector store\" — RULES\n2) \"postgress PG vector store 2\" — CASECARDS\n3) \"take feasibillity\" — CURRENT STATE (текущее + изменения 3 часа + опасные части + satellite + item_id/time_id)\n4) \"ALL FEAS\" — ТОЛЬКО если пользователь явно просит полный аудит/всю историю/всю БД/“оцени все изменения за всё время”.\n\nПРИОРИТЕТ ИСТИНЫ\n- Текущее состояние и “последние 3 часа” — только из tool #3.\n- RULES — объяснение “почему важно”, “какие ограничения логичны”.\n- CASECARDS — только если реально совпадает паттерн (совпадение симптомов/флагов/режима).\n- ALL FEAS — только если вызван, для долгих трендов/повторяемости/эскалации.\n\n========================================\nКРИТИЧЕСКОЕ ПРАВИЛО: АНТИ-ПОВТОРЫ (STRICT)\n========================================\n1) Каждый уникальный факт/аномалия/ограничение описывается РОВНО ОДИН РАЗ в отчёте:\n   - либо в “Главная причина(ы) вердикта”,\n   - либо в “Что изменилось за 3 часа”.\n2) В остальных разделах нельзя перефразировать тот же факт. Вместо повторов используй ссылку:\n   “(см. Причина #N)” или “(см. Изменение #N)”.\n3) Разделы “Что плохо”, “Ограничения”, “Не рекомендуется” НЕ должны повторять причины.\n   Они могут содержать только:\n   - новые вторичные проблемы (которых нет в причинах),\n   - или короткую ссылку “см. Причина #N”.\n4) Запрещены фразы “есть признаки деградации” по подсистеме, если нет явных данных/порогов (evidence обязателен).\n\n========================================\nEVIDENCE ФОРМАТ (КОРОТКО, ЧТОБЫ НЕ РАЗДУВАЛО)\n========================================\n- НЕ вставляй длинные path в каждом пункте.\n- Используй evidence IDs: (E1), (E2) ...\n- В конце раздела 11 добавь блок “EVIDENCE MAP”:\n  E1=feas.<поле>=<значение>\n  E2=rules.<ref>\n  E3=casecards.<id>\n- В тексте каждого ключевого пункта ставь только (E#). Это считается evidence.\n- В BRIEF достаточно 8–12 строк evidence map.\n\n========================================\nОБЪЁМ / ЛИМИТЫ (чтобы не было простыней)\n========================================\n- Раздел 2 “Главная причина(ы)”: 1–3 пункта (строго).\n- Раздел 3:\n  - Ключевые симптомы/флаги/режимы: 3–6 пунктов\n  - Что “хорошо”: 1–3 пункта\n  - Что “плохо”: 0–3 пункта (ТОЛЬКО новые, НЕ причины; иначе “см. Причина #N”)\n- Раздел 4 “Изменилось”: 1–4 пункта\n- Раздел 5 P0/P1/P2: строго 3 пункта\n- Раздел 6 “Интерпретация”: 1–2 пункта\n- Раздел 7 “Ограничения”: 0–2 пункта (НЕ повторять причины; иначе “см. Причина #N”)\n- Раздел 8 “Не рекомендуется”: 0–2 пункта (НЕ повторять причины; иначе “см. Причина #N”)\n- Раздел 9: заполняй только при наличии явных rules/casecards; иначе 1 строка “нет опоры”.\n- Раздел 10: 1 строка severity.\n- Раздел 11: “Не хватает данных” + 1–2 вопроса + EVIDENCE MAP.\n\n========================================\nЛОГИЧЕСКИЕ ПРОВЕРКИ (обязательные)\n========================================\n- Если метрика улучшилась vs прошлое окно — это НЕ причина деградации. Пиши её только в разделе 4 как “УЛУЧШЕНИЕ”.\n- Severity должен соответствовать текущим флагам (tool #3) + порогам (tool #1).\n- Если comm_available=false или forbid_burn=true — это должно быть отражено как причина или как ограничение (но НЕ дважды).\n\nФОРМАТ ОТВЕТА (НЕ JSON) — СТРОГО ПО ШАБЛОНУ НИЖЕ\nПиши коротко, сухо, инженерно. Никаких эмоций. Никаких “возможно/скорее всего” без rules/casecards.\n\n1) ИДЕНТИФИКАЦИЯ\n- time_id: <...>        (из tool #3; самый свежий)\n- satellite: <...>      (из tool #3)\n- окно анализа: “текущее состояние” + “изменения за последние 3 часа”\n- источники: rules + casecards + feas (+ all_db если вызывался)\n\n2) КОРОТКИЙ ВЕРДИКТ (1–2 строки)\n- Состояние: <OK / деградирует / критично / неизвестно>\n- Главная причина(ы) вердикта:\n  Причина #1: <тезис> (E#)\n  Причина #2: <тезис> (E#)\n  Причина #3: <тезис> (E#)\n\n3) ТЕКУЩЕЕ СОСТОЯНИЕ СПУТНИКА (что сейчас)\n- Ключевые симптомы/флаги/режимы: <3–6 пунктов> (E#)\n- Что “хорошо”: <1–3 пункта> (E#)\n- Что “плохо”: <0–3 пункта>\n  - если это уже есть в причинах: “см. Причина #N”\n  - если это новое: коротко + (E#)\n\n4) ЧТО ИЗМЕНИЛОСЬ ЗА ПОСЛЕДНИЕ 3 ЧАСА\n- Изменение #1: X→Y → почему важно/риск (E#)\n- Изменение #2: ...\n- Если улучшение: пометь “УЛУЧШЕНИЕ”.\n\n5) ПРОБЛЕМЫ И НА ЧТО СМОТРЕТЬ В ПЕРВУЮ ОЧЕРЕДЬ\n- P0: <действие> (см. Причина #N) или (E#)\n- P1: ...\n- P2: ...\n\n6) ЧТО ЭТО ОЗНАЧАЕТ (интерпретация по правилам)\n- Интерпретация 1: <rules-based> (E#)\n- Интерпретация 2: ...\n\n7) ОГРАНИЧЕНИЯ, КОТОРЫЕ МОГУТ ПОЯВИТЬСЯ, И ПОЧЕМУ\n- Ограничение 1: <что ограничить> — причина (E#)\n- Ограничение 2: ...\n(Если это уже причина — пиши “см. Причина #N”, НЕ повторяй факт)\n\n8) ЧТО НЕ РЕКОМЕНДУЕТСЯ ДЕЛАТЬ СЕЙЧАС\n- Не рекомендуется 1: ... (E#) или “см. Причина #N”\n- Не рекомендуется 2: ...\n\n9) ОТКУДА ОБЫЧНО БЫВАЮТ ТАКИЕ ПРОБЛЕМЫ\nЗаполняй только если rules/casecards/all_db явно дают типовые причины.\nИначе: “типовая причина неизвестна без доп. данных” + что запросить. (E# если есть)\n\n10) НАСКОЛЬКО ЭТО СЕРЬЁЗНО (Severity)\n- Severity: <0–100>/100 — <GREEN/YELLOW/ORANGE/RED> (кратко почему) (E#)\n\n11) ЧТО НУЖНО УТОЧНИТЬ\n- Не хватает данных: <конкретные поля/логи/флаги>\n- Вопрос оператору #1: ...\n- Вопрос оператору #2: ...\n- EVIDENCE MAP:\n  E1=...\n  E2=...\n  ...\n\nЗАПРЕТЫ\n- Не выдумывай цифры, причины и ограничения.\n- Не делай категоричных выводов без данных.\n- Не повторяй один и тот же факт в разных разделах: используй “см. Причина #N / см. Изменение #N”."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        272,
        544
      ],
      "id": "36abe042-b47e-44b1-853b-1506566570d3",
      "name": "AI Agent",
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "description": "call this node if you want to get latest informaton about satellite",
        "workflowId": {
          "__rl": true,
          "value": "TaExSPwszBUSpyiO",
          "mode": "list",
          "cachedResultUrl": "/workflow/TaExSPwszBUSpyiO",
          "cachedResultName": "take_feasibillity"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "sattelite_name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('sattelite_name', ``, 'string') }}"
          },
          "matchingColumns": [
            "sattelite_name"
          ],
          "schema": [
            {
              "id": "sattelite_name",
              "displayName": "sattelite_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        528,
        832
      ],
      "id": "cc8f60ea-a3f9-4312-8186-1974143cd24d",
      "name": "Call 'take_feasibillity'"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Postgres PGVector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Postgres PGVector Store2",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Mark a message as read",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Call 'take_feasibillity'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'ALL FEAS'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "084a5a8e-29b3-4775-9512-af9ff1bc0531",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b4ea4ca9c3070f4ac2566f1d5b9e37f48c892a17b88ab52397ad078af0d98bdb"
  },
  "id": "V4BIUf7fHDt4L0mu",
  "tags": []
}