workflows/validator.json
{
  "name": "validator",
  "nodes": [
    {
      "parameters": {
        "contextWindowLength": 0
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -544,
        240
      ],
      "id": "4ad7dab2-deba-4280-b930-b612e50ca4a5",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {
          "batchSize": 80,
          "stripNewLines": true,
          "timeout": -1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        32,
        384
      ],
      "id": "9c1ce78a-788e-40e9-9fc3-d4ddf77c5b90",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "QTloMWRWf4XFWwJ1",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "rules",
        "options": {
          "collection": {
            "values": {}
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        368,
        112
      ],
      "id": "5c2292e7-d91d-4990-9245-fe086c892134",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "2fetuh0Apnozq8Vi",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "name",
        "formDescription": "rules",
        "formFields": {
          "values": [
            {
              "fieldLabel": "rules"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        112,
        16
      ],
      "id": "54e363bd-d261-458e-96f2-2bab2abb3595",
      "name": "правила/Case card",
      "webhookId": "f84403d6-f94f-4a49-8460-d97721af7b63"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "there is case card and rules.\n",
        "tableName": "casecard",
        "topK": 7,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        -112,
        192
      ],
      "id": "e4379397-3116-4631-920d-e7ea32ea3729",
      "name": "Postgres PGVector Store2",
      "credentials": {
        "postgres": {
          "id": "2fetuh0Apnozq8Vi",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "there is  rules.\n",
        "tableName": "RULES ",
        "topK": 8,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        -288,
        272
      ],
      "id": "3e6b5f89-e8aa-4203-9353-7d5db6e007a4",
      "name": "Postgres PGVector Store1",
      "credentials": {
        "postgres": {
          "id": "2fetuh0Apnozq8Vi",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "builtInTools": {
          "codeInterpreter": false
        },
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "text"
            }
          },
          "timeout": 50000000,
          "promptCacheKey": "",
          "metadata": "{}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -704,
        256
      ],
      "id": "33e8eea8-39e7-4ec4-a9cd-65aaad8a80ff",
      "name": "OpenAI Chat Model1",
      "retryOnFail": false,
      "maxTries": 2,
      "executeOnce": true,
      "credentials": {
        "openAiApi": {
          "id": "QTloMWRWf4XFWwJ1",
          "name": "n8n free OpenAI API credits"
        }
      },
      "notes": "Валидатор текста"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Ты валидатор текста/писем, твоя цель проверять по определенным правилам содержание текста содержащий всякую точную информацию, в особенности с CDM. ты НИЧЕГО не должен писать, кроме отчета проверки текста, только отчет, НИ советов, НИ  последующих желаний, только проверка. Используй tool всегда, Vector store 1(там правила) and 2(там casecard) используй их почти всегда. чтобы проверять данные из базы данных и правил/порогов как искать ошибки и не состыковки. Case card тебе в помощь. Для проверки правильности и точности информации, вызывай call my workflow\n\nиспользуй определенные правила для валидации, АБСОЛЮТНО ВСЕ врятле будут нужны. Аналогично с casecard\n\nпридерживайся формата отчета\n\nЕсли в данном тексте не упоминается дополнительная информация(не обязательная) которая могла бы помочь, то написать в разделе INFO, если есть актуальные темы которые не обсудил оператор, тоже написать в INFO: \n\nЕсли отсутствует CRITICAL, MAJOR проблем, напиши что их отсуствует.\n",
          "returnIntermediateSteps": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -480,
        16
      ],
      "id": "fe619ca2-1aff-411e-8d7c-f4fd4506cbe3",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -736,
        32
      ],
      "id": "e1a31bd2-8098-4055-843a-2447b36c86a9",
      "name": "When chat message received",
      "webhookId": "5af7b6f1-663b-48d8-bc0f-09fa46effaed",
      "alwaysOutputData": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        288,
        272
      ],
      "id": "426c501f-9d9c-4e2e-a20d-963cb26efbf2",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "  INSERT INTO cdm_messages\n(message_id, cdm_json, creation_date, pair_a, pair_b)\nvalues ($1, $2, $3, $4, $5)",
        "options": {
          "queryBatching": "single",
          "queryReplacement": "=$1 = {{ $json.message_id }}\n$2 = {{ $json.cdm }}\n$3 = {{ $json.creation_date }}\n$4 = {{ $json.pair_a }}\n$5 = {{ $json.pair_b }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1440,
        -672
      ],
      "id": "6ce99bd6-9899-4318-a3af-4818270bb6ce",
      "name": "Execute a SQL query",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "2fetuh0Apnozq8Vi",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node (JavaScript)\n\nconst items = $input.all();\n\nfunction norm(v) {\n  return (v ?? \"\").toString().trim().toUpperCase();\n}\n\nfunction safeStringify(obj) {\n  try { return JSON.stringify(obj); } catch { return String(obj); }\n}\n\nreturn items.map((item) => {\n  const src = item.json ?? {};\n\n  // CDM может лежать в item.json.cdm_json (строка или объект) или вообще быть всем item.json\n  let cdmRaw = src.cdm_json ?? src.cdm ?? src;\n  let cdmText = null;\n  let cdmObj = null;\n\n  if (typeof cdmRaw === \"string\") {\n    cdmText = cdmRaw;\n    try {\n      cdmObj = JSON.parse(cdmRaw);\n    } catch (e) {\n      return {\n        json: {\n          ...src,\n          cdm_json: cdmText,\n          parse_error: \"cdm_json is not valid JSON\",\n        },\n      };\n    }\n  } else {\n    cdmObj = cdmRaw;\n    cdmText = safeStringify(cdmRaw);\n  }\n\n  const objects = cdmObj.objects ?? {};\n  // стандарт CCSDS: object1/object2; если нет — берём первые два объекта\n  const vals = Object.values(objects);\n  const o1 = objects.object1 ?? vals[0] ?? {};\n  const o2 = objects.object2 ?? vals[1] ?? {};\n\n  const pairA =\n    o1?.metadata?.object_name ??\n    o1?.metadata?.international_designator ??\n    o1?.metadata?.object_designator ??\n    null;\n\n  const pairB =\n    o2?.metadata?.object_name ??\n    o2?.metadata?.international_designator ??\n    o2?.metadata?.object_designator ??\n    null;\n\n  const [k1, k2] = [norm(pairA), norm(pairB)].sort();\n  const pairKey = (k1 && k2) ? `${k1}|${k2}` : null;\n\n  const rel = cdmObj.relative_metadata_data ?? {};\n\n  return {\n    json: {\n      // если хочешь \"весь инпут\" сохранить — оставляем всё src\n      ...src,\n\n      // ключевые поля для таблицы\n      message_id: cdmObj.message_id ?? src.message_id ?? null,\n      creation_date: cdmObj.creation_date ?? src.creation_date ?? null,\n      pair_a: pairA ?? src.pair_a ?? null,\n      pair_b: pairB ?? src.pair_b ?? null,\n      pair_key: pairKey ?? src.pair_key ?? null,\n\n      // сам CDM (как текст; для Postgres jsonb норм)\n      cdm_json: cdmText,\n\n      // полезные выжимки (по желанию)\n      tca: rel.tca ?? null,\n      miss_distance_m: rel.miss_distance?.value ?? null,\n      collision_probability: rel.collision_probability ?? null,\n      relative_speed_mps: rel.relative_speed?.value ?? null,\n    },\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1664,
        -688
      ],
      "id": "3507cc27-a03d-4c44-9b9a-65291f23e10d",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "formTitle": "name",
        "formDescription": "cdm",
        "formFields": {
          "values": [
            {
              "fieldLabel": "cdm",
              "fieldType": "textarea"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -1920,
        -704
      ],
      "id": "e6f11105-a96d-40fd-a0c8-b0dc8551577e",
      "name": "правила/Case card1",
      "webhookId": "c6c7bbfe-5c77-47fc-b324-a94d4b7fae04"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "uIOFK0aDVoStOTyS",
          "mode": "list",
          "cachedResultUrl": "/workflow/uIOFK0aDVoStOTyS",
          "cachedResultName": "validator_base"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "object_name_one": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('object_name_one', ``, 'string') }}",
            "CDM_ID": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('CDM_ID', ``, 'string') }}",
            "object_name_two": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('object_name_two', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "object_name_one",
              "displayName": "object_name_one",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "CDM_ID",
              "displayName": "CDM_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "object_name_two",
              "displayName": "object_name_two",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -432,
        320
      ],
      "id": "51d7296f-ef49-47b1-b074-b3b47991afca",
      "name": "Call 'validator_base'"
    }
  ],
  "pinData": {},
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Postgres PGVector Store2",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Postgres PGVector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "правила/Case card": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "правила/Case card1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'validator_base'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "36bddfe4-abb9-4b52-ae32-6cac10fc0f10",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b4ea4ca9c3070f4ac2566f1d5b9e37f48c892a17b88ab52397ad078af0d98bdb"
  },
  "id": "8SbmkSneyesSLj4P",
  "tags": []
}